<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <form method="POST" action="/listing/<%=listing._id%>?_method=PUT">
    <input name="listing[title]" value="<%=listing.title%>" placeholder="enter the title">
    <textarea name="listing[description]" placeholder="enter the description"> <%=listing.title%> </textarea>
    <input name="listing[image]" placeholder="put the image link" value="<%=listing.image%>" >
    <input name="listing[price]" placeholder="add price" value="<%=listing.price%>" >
    <input name="listing[location]" placeholder="add location" value="<%=listing.location%>" >
    <input name="listing[country]" placeholder="add country name" value="<%=listing.country%>" >
    <button>submit</button>
</form>
</body>
</html>